<a id="admin-toggle" class="btn btn-primary btn-lg toggle"><i class="fa fa-lock"></i></a>
    <div id="sideadmin" class="leather">
      <ul class="sidebar-nav">
        <a id="admin-close" class="btn btn-default btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
        <li class="sidebar-brand"><%= link_to "Admin Panel", nil %></li>
		<div style="overflow-y: hidden;">
      <li> Admin stuff goes here </li>
      </div>
							</ul>
						</div>
    <script>
        $("#admin-close").click(function(e) {
            e.preventDefault();
            $("#sideadmin").toggleClass("active");
        });
        $("#admin-toggle").click(function(e) {
            e.preventDefault();
            $("#sideadmin").toggleClass("active");
        });
    </script>
