            <div class="sentpost" id="<%= @post.id %>" style="width: 95%">
                <%= gravatar_for @post.user %>
                <%= link_to @post.user_name, @post.user %>
                <br/>
            <%= auto_link(@post.post) %>
            </div>