<!-- subscribe to the side chat channel via private_pub/faye -->
<% @sidesubscribe = "/scenes/#{params[:id]}/show/sidechat" %>
<%= @sidesubscribed = subscribe_to @sidesubscribe %>

<a id="users-toggle" class="btn btn-primary btn-lg toggle" style="background-color: #050608;"><i class="fa fa-users"></i></a>
    <div id="sideusers">
      <ul class="sidebar-nav">
		<div id="userlist" class="panel panel-body" style="height: 350px;background: rgba(255, 255, 255, .5);overflow-y: hidden;border-color: #eaeaea; border-width: 1px; border-style: solid;">
        <% @usershere.each do |x| %>
          <% @alreadylisted = false %>
          <% if x.super_user == true %>
            <p><%= link_to x.name, x %> <span class="label label-danger">SuperAdmin</span></p>
          <% else %>
            <% @chat.administrators.each do |z| %>
              <% if z == x.id and @alreadylisted == false and z != nil%>
                <p><%= link_to x.name, x %> <span class="label label-danger">Admin</span></p>
                <% @alreadylisted = true %>
              <% end %>
              <% if z != x.email and @alreadylisted == false and z != nil %>
                <p><%= link_to x.name, x %></p>
                <% @alreadylisted = true %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
        <a id="users-close" class="btn btn-default btn-lg btn-block toggle"><i class="fa fa-times"></i></a>
							</ul>
						</div>
    <script>
        $("#users-close").click(function(e) {
            e.preventDefault();
            $("#sideusers").toggleClass("active");
         	document.getElementById("users-toggle").style.display="inherit";
        });
        $("#users-toggle").click(function(e) {
            e.preventDefault();
            $("#sideusers").toggleClass("active");
         	document.getElementById("users-toggle").style.display="none";
        });
    </script>
