<table id="datatable">
<% if @chatposts.count == 0 %>
<tr><td>
	No posts
</td></tr>
<% else %>
<thead>
	<tr>
		<th>
			Messages
		</th>
	</tr>
</thead>
<tbody>
<div style="height: 350px; overflow-y: auto;" id ="chatscroll">
<div id="chatlog">
<% @chatposts.each do |x| %>
<tr><td height="70px">
	<% @users.each do |y|%>
	<% if y.name == x.username %>
	<% @postuser = y %>
	<% end %>
	<% end %>
	<%= gravatar_for @postuser %><%= link_to x.username, @postuser %>
	<div class="popover fade right in" style="display: inline-block; position: relative;">
	<div class="arrow"></div>
	<div class="popover-content">
	<%= x.post %>
	</div>
	</div>
	</td>
</tr>
<% end %>
</div>
</div>
</tbody>
<% end %>
</table>
