<table class="table table-striped" id="chatlog">
<% if @chatposts.count == 0 %>
<tr><td>
	No posts
</td></tr>
<% else %>
<% @chatposts.each do |x| %>
<tr><td>
	<% @users.each do |y|%>
	<% if y.name == x.username %>
	<% @postuser = y %>
	<% end %>
	<% end %>
	<%= gravatar_for @postuser %><%= link_to x.username, @postuser %>:
</td><td>
	<%= x.post %>
</td>
</tr>
<% end %>
<% end %>
</table>