<table id="datatable" height="300px">
<div id="chatlog">
<tbody>
<% if @chatposts.count == 0 %>
<tr><td>
	No posts
</td></tr>
<% else %>
<% @chatposts.each do |x| %>
<tr><td height="70px">
	<% @users.each do |y|%>
	<% if y.name == x.username %>
	<% @postuser = y %>
	<% end %>
	<% end %>
	<%= gravatar_for @postuser %><%= link_to x.username, @postuser %>
	<div class="popover fade right in" style="display: inline-block; position: relative;">
	<div class="arrow"></div>
	<div class="popover-content">
	<%= x.post %>
	</div>
	</div>
	</td>
</tr>
<% end %>
<% end %>
</tbody>
</div>
</table>
