<table id="chatlog" height="300px">
<% if @chatposts.count == 0 %>
<tr><td>
	No posts
</td></tr>
<% else %>
<% @chatposts.each do |x| %>
<tr><td height="70px" width="95%">
	<% @users.each do |y|%>
	<% if y.name == x.username %>
	<% @postuser = y %>
	<% end %>
	<% end %>
	<%= gravatar_for @postuser %><%= link_to x.username, @postuser %>
	<div class="popover fade right in" style="display: inline-block; position: relative;">
	<div class="arrow"></div>
	<div class="popover-content">
	<%= x.post %>
	</div>
	</div>
	<td>
	<p style="float: right;" class="small"><%= x.created_at.to_datetime.strftime('%H:%M %D')  %></p>
	</td>
</tr>
<% end %>
<% end %>
</table>
