<table class="table table-striped" id="chatlog">
<% if @chatposts.count == 0 %>
<tr><td>
	No posts
</td></tr>
<% else %>
<% @chatposts.each do |x| %>
<tr><td>
	<%= x.username %>:
</td><td>
	<%= x.post %>
</td>
</tr>
<% end %>
<% end %>
</table>