<!-- subscribe to the side chat channel via private_pub/faye -->
<% @sidesubscribe = "/scenes/#{params[:id]}/show/sidechat" %>
<%= @sidesubscribed = subscribe_to @sidesubscribe %>

<div class="collapse navbar-collapse navbar-ex1-collapse">
	<ul class="nav navbar-nav side-nav">
		<div class="panel-group" id="sideaccordion">
			<div class="panel">
				<a class="glyphicon glyphicon-chevron-left" id="sidelistclick" data-toggle="collapse" data-parent="#sideaccordion" data-target="#sidechat" title="Show sidechat" href="#" style=""><br><span style="font-size: 13px;margin-right: 5px; color:#333333;">Users</span><span class="glyphicon glyphicon-certificate" id="sidechatnotify" style="display: none;color: red;margin-right:30px;margin-top:10px;float:left;padding-bottom: 30px;font-size: 24px;"><span class="glyphicon glyphicon-chevron-left" style="margin-top:10px;"></span></span></a>
				<div id="sidechat" class="panel-collapse collapse">
					<nav role="navigation">
						<div class="collapse navbar-collapse navbar-ex1-collapse">
							<ul class="nav navbar-nav side-nav-two">
								<a id="sidelistclick1" class="glyphicon glyphicon-chevron-right" data-toggle="collapse" data-parent="#sideaccordion" data-target="#sidechat" title="Hide sidechat" href="#" style="color:#333333; width:35px;float: left; margin-top: 150px;"><br>Hide</a>
								<div id="userlist" class="panel panel-body" style="height: 70%;background: rgba(255, 255, 255, .5);overflow-y: hidden;border-color: #eaeaea; border-width: 1px; border-style: solid;">
        <% @usershere.each do |x| %>
          <% @alreadylisted = false %>
          <% if x.super_user == true %>
            <p><%= link_to x.name, x %> <span class="label label-danger">SuperAdmin</span></p>
          <% else %>
            <% @chat.administrators.each do |z| %>
              <% if z == x.id and @alreadylisted == false and z != nil%>
                <p><%= link_to x.name, x %> <span class="label label-danger">Admin</span></p>
                <% @alreadylisted = true %>
              <% end %>
              <% if z != x.email and @alreadylisted == false and z != nil %>
                <p><%= link_to x.name, x %></p>
                <% @alreadylisted = true %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
								
							</ul>
						</div>
					</nav>
				</div>
			</div>
		</div>
	</ul>
</div>

<script>
$(document).ready(function() {
  $('#sidelistclick').click(function(e) {
  e.preventDefault();
  document.getElementById("sidelistclick").style.display="none";
  
});
  $('#sidelistclick1').click(function(e) {
  	document.getElementById("sidelistclick").style.display="inherit";

  e.preventDefault();  
});
});
</script>
