<% provide(:title, "New Chat") %>
<div class="chatlognew">
<row>
<div class="col-md-6 col-md-offset-3" style="padding-top:5px;margin-top: 10%;">
<div class="panel panel-default" style="padding-bottom: 15px;padding-left: 10px;">
<div class="panel panel-body">
<h1 class="form-signin-heading"><b>New Chat</b></h1>
<div width="100%">
<%= form_for :chatparams, url: @chatlog, class: "form-signin" do |f| %>
  <h4 align="center">
  Private chat:
  <%= f.check_box :chatprivate %>
  </h4>
  <span class="label label-default">Chat name</span>
  <%= f.text_field :chatname, class: "form-control", placeholder: "Enter chat name here" %>
</div>
  <br>
    <div align="center">
  <%= submit_tag "Create", class: "btn btn-large btn-primary btn-block"  %>
  </div>
<% end %>
</div>
</div>
</div>
</row>
</div>
