<% provide(:title, @chat.chatname.titleize) %>

<% content_for :header do %>
<%= javascript_include_tag "chatlogs" %>
<% end %>

<div class="chatlog">
  <row>
   <%= render 'chatlogs/chatlog' %>
   <%= render 'chatlogs/userlist' %>
   <%= render 'chatlogs/newpost' %>
  </row>
</div>
