<% provide(:title, @chat.chatname.titleize) %>
<div class="chatlog">
<row>
<div class="col-md-8 col-md-offset-2" style="margin-top: 3%;">
<div class="panel panel-default" style="padding-bottom: 15px;padding-left: 10px;">
<h3 class="form-signin-heading" align="center"><b><%= @chat.chatname.titleize %></b></h3>
<div class="panel panel-body">
<div style="height: 350px; overflow-y: auto;" id ="chatscroll">
<%= render 'chatlogs/chatlog' %>
</div>
<%= subscribe_to @chatsubscribe %>
</div>
</div>
</div>
<div class="col-md-6 col-md-offset-3" style="padding-top:5px;margin-top: 2%;">
<div class="panel panel-default" style="padding-bottom: 15px;padding-left: 10px;">
<div class="panel panel-body">
<%= render 'chatlogs/newpost' %>
</div>
</div>
</div>
</row>
</div>
