<row>
<div class="col-md-10 col-md-offset-1" style="padding-top:5px;">
<div class="panel panel-info" style="padding-bottom: 15px;padding-left: 10px;">
<div class="panel panel-body">
<%= form_for :chatparams, url: chatlog_path do |f| %>
  <%= f.label :chatname, "Chat name:" %> <%= f.text_field :chatname %>
  <%= submit_tag "Create" %>
<% end %>
</div>
</div>
</div>
</row>
