@import "bootstrap";
$grayMediumLight: #eaeaea;
$grayLight: #999;
$grayLighter: #aaa;
$gray: #555;
$grayDarker: #222;
$orange: #F84800;
$black: #050608;
$white: #B0C0BF;
$darkorange:  #B64809;
$lightorange: #E36E39;
$blue: #428BCA;

html, body {
  height: 100%;
  width: 100%;
  background-color: $grayMediumLight;
}

body p {
  color: #000;
}

.panel-body {
  background-color: $grayMediumLight; 
  margin: 0;
}

.list-group-item {
  background-color: $grayMediumLight;
}

.list-group-item:hover {
  background-color: #eaeaea;
}

.col-sm-10 {
  padding: 0px;
  margin: 0px;
}
.col-sm-12 {
  padding: 0px;
  margin: 0px;
}

/* mixins, variables, etc. */
@mixin box_sizing {
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}


/* change the alerts style */
.alert {
   font-weight: bold;
   position: absolute;
   top: 0px;
   width: 85%;
   margin-right: 60px;
   margin-left: 60px;
}


/* panel stuff */
.panel-default {
  border-width: 3px;
  background-color: $grayMediumLight;
}


/* universal */
.center {
text-align: center;
h1 {
margin-bottom: 10px;
}
}
/* typography */
h1, h2, h3, h4, h5, h6 {
line-height: 1;
color: $black;
}
h1 {
font-size: 3em;
letter-spacing: -2px;
margin-bottom: 30px;
text-align: center;
}
h2 {
font-size: 1.7em;
letter-spacing: -1px;
margin-bottom: 30px;
text-align: center;
font-weight: normal;
}
p {
font-size: 1.1em;
line-height: 1.7em;
}

.panel-body-heading {
  font-size: 1.2em;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-top: 5px;
}

.gravatar {
  margin-right: 10px;
  height: 25px;
  width: 25px;
}


/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  padding: 10px;
  height: auto;
  margin-bottom: 15px;
  @include box_sizing;
}
