
    <!-- Footer -->
    <footer>
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <!-- ugly links, FIX ME 
            <ul class="list-inline">
              <li><i class="fa fa-facebook fa-3x"></i></li>
              <li><i class="fa fa-twitter fa-3x"></i></li>
              <li><i class="fa fa-dribbble fa-3x"></i></li>
            </ul>
            <div class="top-scroll">
              <a href="#top"><i class="fa fa-circle-arrow-up scroll fa-4x"></i></a>
            </div>
            -->
            <hr>
            <p><a href="http://livepost.herokuapp.com/">Livepost</a> by <a href="https://github.com/slacker87">Slacker87</a>, <a href="https://github.com/kcombs">KCombs</a>, and <a href="https://github.com/harrisongill">harrisongill</a></p>
          </div>
        </div>
    </footer>
    <!-- /Footer -->