
<!-- Footer -->
<footer>  
  <div class="col-md-10">
    <%= link_to "Home", root_url %> | 
    <%= link_to "About", about_path %> | 
    <%= link_to "Help", help_path %> | 
    <%= link_to "Contact", contact_path %>
  </div>
  <div style="col-md-2">
    <ul class="list-inline text-right">
      <li><i class="fa fa-facebook fa-3x"></i></li>
      <li><i class="fa fa-twitter fa-3x"></i></li>
    </ul>
  </div>
  <div class="col-md-12">
    <a href="https://github.com/slacker87/livepost">Livepost</a> is a collaborative project by 
    <a href="https://github.com/slacker87">Slacker87</a>, 
    <a href="https://github.com/kcombs">KCombs</a>, 
    <a href="https://github.com/harrisongill">harrisongill</a>, 
    and <a href="https://github.com/stuarthannig">stuarthannig</a>
  </div>
</footer>
<!-- /Footer -->
